@import "tailwindcss";

@theme {
  --color-paper: #FBF9F4;
  --color-ink: #232019;
  --color-highlighter: #E8B023;
  --color-stamp: #3B6E64;
  --color-rule: #DAD3C0;

  --font-serif: var(--font-lora), serif;
  --font-sans: var(--font-inter), sans-serif;
}

body {
  background-color: var(--color-paper);
  color: var(--color-ink);
}